.map-container {
  height: 400px;
  position: relative;
}

* {
  box-sizing: border-box;
}

.map-label {
  overflow-x: hidden;
  transition: width 0.5s ease, padding 0.5s ease;
  transition: ;
  text-align: center;
  padding: ;
  background-color: white;
  border: solid lightgrey 2px;
  position: absolute;
  z-index: 100;
  right: 0;
  top:0;
  bottom: 0;
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  border: none;
  background-color: white;
  font-size: 17px;
}
